$colors: (
  neutral: (
    200: hsl(210, 46%, 95%),
    250: hsl(210, 29%, 84%),
    300: hsl(212, 23%, 69%),
    400: hsl(214, 17%, 51%),
    600: hsl(217, 19%, 35%),
  ),
);

$colors-hsl: (
  neutral: (
    200: '210, 46%, 95%',
    250: '210, 29%, 84%',
    300: '212, 23%, 69%',
    400: '214, 17%, 51%',
    600: '217, 19%, 35%',
  ),
);
